*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common */
.container{
  max-width: 1200px;
  margin: auto;
}
.btn{

}

/* header */
header{
  text-align: center;
}

.logo{
  width: 400px;
  margin: 50px auto;
}
.logo img{
  width: 100%;
}
.search{
  margin-bottom: 40px;
}

/* main */
.todos-container{
  background-color: #cccc;
  border-radius: 10px;
}
.todos-list{
  list-style: none;
  padding: 15px;
}
.todos-list li{
  padding: 10px;
  border-bottom: 1px solid gray;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}
.todo-delete{
  cursor: pointer;
}